<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Shopping List</h1>
      <div class="input-group mb-3">
        <input type="text" [(ngModel)]="newItem" class="form-control" placeholder="Item name" aria-label="Item name" maxlength="50">
        <input type="number" [(ngModel)]="quantity" class="form-control" placeholder="Quantity" aria-label="Quantity" min="1">
        <div class="input-group-append">
          <button class="btn btn-outline-primary btn-sm" type="button" (click)="addItemWithQuantity()">Add Item</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 p-3">
      <h2>To Buy</h2>
      <ul class="list-group scrollable-list">
        <li class="list-group-item" *ngFor="let item of items; let i = index" [ngClass]="{'important-item': item.isImportant}">
          <div>
            <h5 class="mb-1">{{item.name | slice:0:50}} x{{item.amount}} <span *ngIf="item.isImportant">(Important)</span></h5>
            <div>
              <button class="btn btn-outline-danger btn-sm" (click)="deleteItem(item.name)">Delete</button>
              <button class="btn btn-outline-info btn-sm" (click)="markAsImportant(item.name)">Toggle Important</button>
              <button class="btn btn-outline-success btn-sm" (click)="moveToBought(item.name)">Move to Bought</button>
            </div>
            <div style="text-align: right;">
              <button class="btn btn-outline-success btn-sm" *ngIf="(i !== 0 && items[i-1]?.isImportant == item.isImportant)"(click)="moveUp(item.name)">Up</button>
              <button class="btn btn-outline-success btn-sm" *ngIf="(i !== items.length - 1 && items[i+1]?.isImportant == item.isImportant)" (click)="moveDown(item.order)">Down</button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-lg-6 p-3">
      <h2>Previously Bought</h2>
      <ul class="list-group scrollable-list">
        <li class="list-group-item" *ngFor="let item of boughtItems">
          <div>
            <h5 class="mb-1">{{item.name | slice:0:50}}</h5>
            <div>
              <button class="btn btn-outline-primary btn-sm" (click)="addToBuy(item)">Add to Buy</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
